script(type='text/javascript', src='http://d3js.org/d3.v3.min.js')
script(type='text/javascript', src='http://d3js.org/topojson.v1.min.js')

// polyfill javascript
// build:js /js/polyfill.min.js
script(type="application/javascript", src="/js/polyfills/document-register-element.js")
// endbuild

// lib javascript
// build:js /js/lib.min.js
script(type="application/javascript", src="/bower_components/d3/d3.js")
script(type="application/javascript", src="/bower_components/topojson/topojson.js")
script(type="application/javascript", src="/bower_components/planetary.js/dist/planetaryjs.js")
script(type="application/javascript", src="/bower_components/hammerjs/hammer.js")
script(type="application/javascript", src="/bower_components/particleground/jquery.particleground.js")
script(type="application/javascript", src="/bower_components/pikaday/pikaday.js")
script(type="application/javascript", src="/bower_components/lodash/lodash.js")
script(type="application/javascript", src="/bower_components/jquery/dist/jquery.js")
script(type="application/javascript", src="/bower_components/jquery-ui/jquery-ui.js")
script(type="application/javascript", src="/bower_components/gridstack/src/gridstack.js")
script(type="application/javascript", src="/bower_components/PACE/pace.js")
script(type="application/javascript", src="/bower_components/moment/moment.js")
script(type="application/javascript", src="/bower_components/wow/dist/wow.js")
script(type="application/javascript", src="/bower_components/promise/index.js")
// endbuild

// core javascript
// build:js /js/core.min.js
script(type="application/javascript", src="/js/helpers.js")
script(type="application/javascript", src="/js/app.js")
script(type="application/javascript", src="/js/sideNav.js")
script(type="application/javascript", src="/js/charts.js")
// endbuild

// components javascript
// build:js /js/components.min.js
script(type="application/javascript", src="/js/components/pie-hello.js")
script(type="application/javascript", src="/js/components/pie-app.js")
script(type="application/javascript", src="/js/components/pie-layout.js")
script(type="application/javascript", src="/js/components/graph/pie-bar-graph.js")
script(type="application/javascript", src="/js/components/graph/pie-radial-graph.js")
script(type="application/javascript", src="/js/components/graph/pie-map-graph.js")
script(type="application/javascript", src="/js/components/graph/pie-logger.js")
script(type="application/javascript", src="/js/components/graph/pie-globe-3d.js")
script(type="application/javascript", src="/js/components/graph/pie-radar-chart.js")
script(type="application/javascript", src="/js/components/user/pie-user-listing.js")
script(type="application/javascript", src="/js/components/user/pie-user-crud.js")
script(type="application/javascript", src="/js/components/site/pie-site-listing.js")
script(type="application/javascript", src="/js/components/site/pie-site-crud.js")
script(type="application/javascript", src="/js/components/pie-notification-bar.js")
script(type="application/javascript", src="/js/components/login/pie-login-form.js")
script(type="application/javascript", src="/js/components/login/pie-login-forgot.js")
script(type="application/javascript", src="/js/components/login/pie-login-reset.js")
script(type="application/javascript", src="/js/components/login/pie-login-verify.js")
script(type="application/javascript", src="/js/components/login/pie-login.js")
// endbuild
