extends layouts/index.pug

block content
  main.index
    div.row
      div.eight.columns.info-column
        div.container
          h1.logo.wow.bounceInDown π
            small Predictive Intelligence Engine
          h4.wow.fadeInUp Hello, <br /> welcome to PIE (Predictive Intelligence Engine).
          p.wow.fadeInUp Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mauris odio, hendrerit nec ante at, tempor porttitor sapien. Ut suscipit diam at sollicitudin egestas. Morbi luctus mi at odio accumsan dapibus. Nullam blandit porttitor tortor, non semper ante ultricies sit amet. Nam arcu orci, vulputate nec massa et, porta ornare velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          a.button.button-primary.wow.fadeInUp(href='#') Find out more
          footer
            ul
              li
                a(href='#') Lorum
              li
                a(href='#') Ipsum dolor
              li
                a(href='#') Consectetur adipiscin elit
            small Copyright (c) 2016 by Managed 24/7 Ltd. All Rights Reserved.
      div.four.columns.login-column
        div.container
          pie-login
